@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('../css/header.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #F2F3F9;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #fff;
}

body::-webkit-scrollbar-thumb {
    background-color: #001489;
    border-radius: 20px;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 83px;
}

nav {
    background-color: transparent;
    position: fixed;
    width: 100%;
    padding: 16px 20px;
    user-select: none;
    z-index: 2;
    transition: background-color 0.3s, backdrop-filter 0.3s;
}

nav.scrolled {
    background-color: #374ab599;
    backdrop-filter: blur(10px);
}

#logos {
    display: flex;
    align-items: center;
}

#logo-instituto {
    height: 3.2rem;
    width: 5.7rem;
    border-right: 2px solid white;
    padding-right: 10px;
    margin-right: 10px;
    border-radius: 2.4px;
}

main {
    line-height: 150%;
}

#tela-inicial {
    position: relative;
    user-select: none;
    display: flex;
}

#tela-inicial img {
    width: 100%;
}

#tela-inicial h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 2em;
    transform: translate(-50%, -50%);
    letter-spacing: .5rem;
}


#subtitulo-tela-inicial {
    top: 55%;
    font-weight: 300;
    position: absolute;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
}

#conheca-mais-tela-inicial {
    top: 90%;
    font-weight: 500;
}

#scroll-down {
    position: absolute;
    top: 95%;
    left: 50%;
    color: white;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#home {
    display: flex;
    margin: 0 2rem 2rem 2rem;

}

#home h1 {
    margin-block: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: #001489;
}

#explicacao {
    width: 50%;
}

#explicacao p {
    text-align: center;
}

#skills {
    width: 50%;
    user-select: none;
}

#lista-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills ul {
    flex-direction: row;
    display: flex;
    gap: .5rem;
    text-align: center;
    margin-block: .2rem;
}

#skills-cima {
    animation: move-up6 2s ease-in-out infinite alternate-reverse;
}

#skills-baixo {
    animation: move-down1 2s ease-in-out infinite alternate-reverse;
}

#skills li {
    list-style-type: none;
    background-color: #8089C4;
    color: white;
    height: 5.6rem;
    width: 5.6rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 0px 8px;
    font-size: .7rem;
    line-height: normal;
}

#skills span {
    margin-top: .2rem;
    font-size: 2rem;
}

#home a {
    text-decoration: underline;
    color: black;
}

#quem_somos {
    background: #001489 url('../img/espaço.webp') center no-repeat;
    background-size: cover;
    color: #fff;
    padding: 0 2rem 2rem 2rem;
}

#quem_somos h1 {
    padding-block: 2rem;
    text-transform: uppercase;
}

#quem_somos p {
    width: 50%;
}

#projetos h1 {
    margin-top: 1rem;
}

#quem_somos div {
    flex-direction: column;
    justify-content: center;
}

.card {
    position: relative;
    margin-inline: 2rem;
    margin-block: 3rem;
    font-size: 0.7rem;
    transition: all 0.2s;
}

.circle {
    width: 90px;
    height: 90px;
    background: #8089C4;
    border-radius: 8px;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
    top: -15px;
    left: -15px;
}

.circle:nth-child(2) {
    bottom: -15px;
    right: -15px;
    animation-name: move-down1;
}

@keyframes move-up6 {
    to {
        transform: translateX(-10px);
    }
}

@keyframes move-down1 {
    to {
        transform: translateX(10px);
    }
}

.card-inner {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    text-align: center;
    padding: 1rem;
    justify-content: center;
    display: grid;
    grid-template-rows: 3rem;
    margin-inline: .2rem;
}

#projetos {
    overflow-x: hidden;
}

#o_que_e a,
#projetos a {
    text-decoration: none;
    color: #383838;
    font-size: 1.2rem;
    padding: 0;
}

#projetos h1 {
    text-align: center;
    text-transform: uppercase;
    color: #001489;
    margin-block: 2rem;
}


#acessarFolders {
    margin-top: .5rem;
    align-self: center;
    justify-self: center;
    background: #001489;
    padding: 2px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#acessarFolders:hover {
    background-color: #374ab5;
}

#acessarFolders a {
    color: white;
    font-size: 1rem;
}

.swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    margin-top: 1rem;
    background-color: #383838;
    display: flex;
    color: white;
    padding-block: 1rem;
    align-items: center;
}

footer h1 {
    border-right: 2px solid white;
    padding-right: 1rem;
}

footer p,
footer h1 {
    margin-left: 1rem;
}