@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    user-select: none;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

nav {
    background-color: #001489;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav h1 a {
    color: white;
}

button {
    background-color: transparent;
    border: none;
    color: #FFF;
    font-size: 36px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

nav,
ul {
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none;
    padding: 0;
    transition: all .5s;
}

li {
    padding-block: 20px;
    margin-inline: 1rem;
}

nav>div>h1>a {
    padding: 10px;
}

nav a:hover,
button:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.2);

}

a {
    text-decoration: none;
    color: black;
}

#botoesMenu a {
    color: white;
}

#pgn {
    color: white;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#filtro {
    display: flex;
    justify-content: flex-end;
}

input[type=text] {
    margin-top: 3rem;
    margin-inline: 2rem;
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid #001489;
    background-color: #4C5AAC;
    border-radius: .2em .2em 0 0;
    padding: .4em;
    cursor: pointer;
    color: #FFF;
    height: 6vh;
    border-radius: 8px;

}

input::placeholder {
    color: white;
}

#posts-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    color: black;
    margin: 1rem;
}

.cards {
    width: 17rem;
    height: 20rem;
    margin-top: 5vh;
    border-radius: 6px;
    box-shadow: 0px 0px 6px #00000025;
    border: #e0e0e0 0.2px solid;
    overflow: hidden;
}
.cards:hover {
    border: #4C5AAC 1.2px solid;
    transition: .3s;
}
.titulo-card {

    font-size: 1.7rem;
}
.textos {
    margin: 15px;
}

.subtitulo-card {
    font-size: 1em;
    height: 4rem;
    font-weight: normal;
    margin-block: 1rem;
    padding: 0;
    text-align: left;
    margin-inline: 0;
}

.wrapper {
    margin-inline: 2rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

/* AJUSTA O GRID PARA TAMANHO IDEAL */
.carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 2.5rem;
    scroll-behavior: smooth;
    justify-content: center;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel .card {
    scroll-snap-align: start;
    list-style: none;
    background: #fff;
    cursor: pointer;
    border-radius: 8px;
    background-color: #001489;
    overflow: hidden;
}

#img {
    margin-top: 20px;
    width: 110px;
    height: 80px;
}

h2 {
    font-style: bold;
    margin: 25px;
    text-align: center;
}

.card>div>img {
    width: 100px;
    height: 100px;
}

#divbaixo {
    display: flex;
    justify-content: flex-end;
    bottom: -3px;
    position: relative;

}


.azul {
    color: #3B9AFD;
}

@media screen and (max-width: 900px) {
    .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .carousel {
        grid-auto-columns: 100%;
    }
}

@media (max-width: 900px) {
    #baixo {
        left: 74%;
    }
}

@media (max-width: 700px) {
    .cards {
        width: 85%;
    }

    nav,
    ul {
        flex-direction: column;
    }

    ul {
        text-align: center;
        margin: 0;
        height: 0;
    }

    nav {
        padding: 0;
        align-items: flex-start;
    }

    h1 {
        margin: 10px;
    }

    button {
        display: flex;
    }

    li,
    ul {
        width: 100%;
    }

    ul.responsivo {
        height: fit-content;
    }
}

@media (max-width: 600px) {
    #baixo {
        left: 80%;
    }
}