@media screen and (max-width: 600px) {
    .wrapper {
        margin-block: 1rem;
    }

    main h1 {
        font-size: 1.5rem;
    }

    #posts-container>article {
        width: 20rem;
        height: 35rem;
        margin-inline: 2rem;
    }

    .subtitulo-card {
        font-size: 1em;
    }

    #acessarFolders {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 600px) {
    .wrapper {
        margin-block: 1rem;
    }

    main h1 {
        font-size: 1.7rem;
    }

    #posts-container>article {
        width: 20rem;
        height: 30rem;
    }

    .titulo-card {
        font-size: 1rem;
    }

    .subtitulo-card {
        font-size: 0.9rem;
    }

    .texto-card {
        font-size: 0.8rem;
    }

    #acessarFolders {
        font-size: 1.1rem;
    }

}

@media only screen and (min-width: 768px) {
    .wrapper {
        margin-block: 1rem;
    }

    .card h2 {
        font-size: 1.2rem;
    }

    #posts-container>article {
        width: 20rem;
        height: 30rem;
    }

    .titulo-card {
        font-size: 1.3em;
    }

    .subtitulo-card {
        font-size: 1em;
    }

    .texto-card {
        font-size: 0.9em;
    }
}

@media only screen and (min-width: 992px) {

    #posts-container>article {
        width: 20rem;
        height: 30rem;
    }

    .titulo-card {
        font-size: 1.5em;
    }

    .subtitulo-card {
        font-size: 1.1em;
    }

    .texto-card {
        font-size: 0.9em;
    }
}

@media only screen and (min-width: 1200px) {

    #posts-container>article {
        width: 20rem;
        height: 30rem;
        margin: 1rem;
    }

    .titulo-card {
        font-size: 1.3em;
    }

    .subtitulo-card {
        font-size: 1.1em;
        margin-bottom: 1.2rem;
    }

    .texto-card {
        font-size: 0.9em;
    }

    #acessarFolders {
        font-size: 1.2rem;
    }

}