@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url(header.css);

main {
    line-height: 150%;
}

#tela-inicial {
    position: relative;
    user-select: none;
    display: flex;
}

#tela-inicial img {
    width: 100%;
}

#textos {
    height: 90%;
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
}

#textos h1 {
    font-size: 2rem;
    letter-spacing: .2rem;
}

#textos p {
    margin-top: 1rem;
}

#textos-link {
    text-align: center;
    bottom: 5%;
    position: absolute;
}

#textos-link a {
    color: white;
}

#home {
    display: flex;
    margin: 0 2rem 2rem 2rem;
}

#home h1 {
    margin-block: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: #001489;
}

#explicacao {
    width: 50%;
}

#explicacao p {
    text-align: center;
}

#skills {
    width: 50%;
    user-select: none;
}

#lista-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills ul {
    flex-direction: row;
    display: flex;
    gap: .5rem;
    text-align: center;
    margin-block: .2rem;
}

#skills-cima {
    animation: move-up6 2s ease-in-out infinite alternate-reverse;
}

#skills-baixo {
    animation: move-down1 2s ease-in-out infinite alternate-reverse;
}

#skills li {
    list-style-type: none;
    background-color: #8089C4;
    color: white;
    height: 5.6rem;
    width: 5.6rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 0px 8px;
    font-size: .7rem;
    line-height: normal;
}

#skills span {
    margin-top: .2rem;
    font-size: 2rem;
}

#home a {
    text-decoration: underline;
    color: black;
}

#quem_somos {
    background: #001489 url(../img/espaco.webp) center no-repeat;
    background-size: cover;
    color: #fff;
    padding: 0 2rem 2rem 2rem;
}

#quem_somos h1 {
    padding-block: 2rem;
    text-transform: uppercase;
}

#quem_somos p {
    width: 50%;
}

#projetos h1 {
    margin-top: 1rem;
}

#quem_somos div {
    flex-direction: column;
    justify-content: center;
}

.card {
    position: relative;
    margin-inline: 2rem;
    margin-block: 3rem;
    font-size: 0.7rem;
    transition: all 0.2s;
}

.circle {
    width: 90px;
    height: 90px;
    background: #8089C4;
    border-radius: 8px;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
    top: -15px;
    left: -15px;
}

.circle:nth-child(2) {
    bottom: -15px;
    right: -15px;
    animation-name: move-down1;
}

@keyframes move-up6 {
    to {
        transform: translateX(-10px);
    }
}

@keyframes move-down1 {
    to {
        transform: translateX(10px);
    }
}

.card-inner {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    text-align: center;
    padding: 1rem;
    justify-content: center;
    display: grid;
    grid-template-rows: 3rem;
    margin-inline: .2rem;
}

#projetos {
    overflow-x: hidden;
}

#o_que_e a,
#projetos a {
    text-decoration: none;
    color: #383838;
    font-size: 1.2rem;
    padding: 0;
}

#projetos h1 {
    text-align: center;
    text-transform: uppercase;
    color: #001489;
    margin-block: 2rem;
}


#acessarFolders {
    margin-top: .5rem;
    align-self: center;
    justify-self: center;
    background: #001489;
    padding: 2px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#acessarFolders:hover {
    background-color: #374ab5;
}

#acessarFolders a {
    color: white;
    font-size: 1rem;
}

.swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#noticias {
    margin-bottom: 3rem;
}

#noticias>h1 {
    text-align: center;
    text-transform: uppercase;
    color: #001489;
    margin-block: 2rem;
}

#container-noticias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.noticia {
    width: 23%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    
}

.foto {
    width: 100%;
    border-radius: 10px;
}

.materia {
    padding: .5rem;
    justify-content: space-between;
    flex-grow: 1;
    display: grid;
    grid-template-rows: 10% 30% 40% 20%;
    gap: 3px;
}


#titulo-metropoles {
    font-family: "Merriweather", "Arial Black", Helvetica, "sans-serif";
    font-weight: 900;
}

.subtitulo {
    font-size: .8rem;
    font-weight: normal;
}

.btn-acessar-materia {
    background: #001489;
    padding: 2px 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    height: 1.7rem;
    text-align: center;
    width: 5rem;
    margin-top: 1rem;
}

.btn-acessar-materia:hover {
    background-color: #374ab5;
}

footer {
    margin-top: 1rem;
    background-color: #383838;
    display: flex;
    color: white;
    padding-block: 1rem;
    align-items: center;
}

footer h1 {
    border-right: 2px solid white;
    padding-right: 1rem;
}

footer p,
footer h1 {
    margin-left: 1rem;
}