 @media screen and (max-width: 600px) {
     nav ul {
         position: absolute;
         top: 4.12rem;
         left: 0;
         right: 0;
         flex-direction: column;
         text-align: center;
         background-color: #374ab599;
         backdrop-filter: blur(10px);
         gap: 0;
         overflow: hidden;
     }

     nav ul li {
         padding: 20px;
         padding-top: 0;
     }

     #logo-instituto {
         height: 1.6rem;
         width: 3rem;
     }

     .logo {
         font-size: .9rem;
         align-items: center;
         display: flex;
     }

     .menu-icon {
         display: block;
     }

     #menuList {
         transition: all 0.5s;
     }

     #tela-inicial h1 {
         letter-spacing: .4rem;
         font-size: 1.2rem;
     }

     #textos p {
         display: none;
     }

     #conheca-mais-tela-inicial,
     #scroll-down {
         display: none;
     }

     #home {
         align-items: center;
         display: flex;
         flex-direction: column;
     }

     #skills {
         align-items: center;
         display: flex;
         flex-direction: column;
     }

     #lista-skills {
         flex-direction: row;
     }

     #skills ul {
         flex-direction: column;
         margin-inline: 1rem;
     }

     #explicacao,
     #quem_somos p {
         width: 85%;
     }

     #quem_somos {
         text-align: center;
         align-items: center;
         display: flex;
         flex-direction: column;
         background-position: center;
     }

     #home h1,
     #quem_somos h1,
     #projetos h1 {
         font-size: 1.5rem;
     }

     .card-inner p {
         width: 50%;
         justify-self: center;
         height: 17rem;
         align-items: center;
         display: flex;
     }

     #container-noticias {
         gap: 2rem;
     }

     .noticia {
         width: 60%;
     }

     .materia {
         gap: .5rem;
         grid-template-rows: none;
     }


     footer p {
         font-size: .7rem;
     }
 }

 @media screen and (min-width: 600px) and (max-width: 768px) {

     #logo-instituto {
         height: 2rem;
         width: 3.8rem;
     }

     .logo {
         font-size: 1rem;
         align-items: center;
         display: flex;
     }

     #conheca-mais-tela-inicial,
     #scroll-down {
         display: none;
     }

     #home {
         align-items: center;
         display: flex;
         flex-direction: column;
     }

     #explicacao,
     #quem_somos p {
         width: 80%;
     }

     #skills {
         align-items: center;
         display: flex;
         flex-direction: column;
     }

     #lista-skills {
         flex-direction: row;
     }

     #skills ul {
         flex-direction: column;
         margin-inline: .8rem;
     }

     #quem_somos {
         text-align: center;
         align-items: center;
         display: flex;
         flex-direction: column;
         background-position: center;
     }

     .card-inner p {
         width: 20rem;
         height: 12rem;
         justify-self: center;
         align-items: center;
         display: flex;
         padding-inline: 1.5rem;
     }

     .card-inner {
         height: 20rem;
     }

     .noticia {
         width: 60%;
     }

 }


 @media only screen and (min-width: 768px) and (max-width: 992px) {
     #skills {
         align-items: center;
         display: flex;
         flex-direction: column;
     }

     #lista-skills {
         flex-direction: row;
     }

     #skills ul {
         flex-direction: column;
         margin-inline: .8rem;
     }

     .card-inner {
         height: 20rem;
     }

     .noticia {
         width: 40%;
     }


 }

 @media only screen and (min-width: 992px) and (max-width: 1300px) {

     .card-inner {
         height: 20rem;
     }

     .noticia {
         width: 35%;
         margin-inline: 1rem;
     }

     .materia {
         grid-template-rows: auto;
     }
 }


 @media only screen and (min-width: 1300px) {
     #textos {
         height: 65%;
     }

     #textos h1 {
         font-size: 3rem;
     }

     #textos>p {
         margin-top: 4rem;
         font-size: 2rem;
     }

     #textos-link p {
         font-size: 2rem;
     }

     #textos span {
         margin-top: .5rem;
         font-size: 3rem;
     }

     .card-inner {
         height: 40vh;
     }

 }