/*Esse media query vale para todos os folders menos o de Produtividade 1*/
article {
    width: 25vw;
}

section {
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 560px) {
    article {
        width: 60vw;
    }

    section {
        grid-template-columns: repeat(1, 1fr);
    }


}

@media screen and (min-width: 560px) and (max-width: 768px) {
    article {
        width: 35vw;
    }

    section {
        grid-template-columns: repeat(2, 1fr);
    }

    .subtitulo-card {
        font-size: 0.9rem;
    }

    .texto-card {
        font-size: 0.8rem;
    }
}