@media screen and (max-width: 700px) {

    #home {
        display: block;
        padding: 0;
    }

    #home h1 {
        font-size: 2em;
        margin-bottom: 1.5rem;
    }

    #home img {
        width: 100vw;
    }

    #quem_somos h1 {
        font-size: 1.7rem;
    }

    #quem_somos div {
        justify-content: space-between;
        display: grid;
    }

    #quem_somos div,
    #texto_home {
        margin: 1.4rem;
        width: 30rem;
    }



    #quem_somos img {
        display: none;
    }

    #projetos {
        margin: 4em;
    }

    #projetos h1 {
        font-size: 1.7em;
    }



    .card-inner h2 {
        font-size: 1.8em;
        margin-bottom: 1em;
    }

    .card-inner p {
        font-size: 1.2em;
        margin-bottom: 1em;
        width: 20rem;
        height: 10rem;
    }

    nav,
    ul {
        flex-direction: column;
    }

    ul {
        text-align: center;
        margin: 0;
        height: 0;
    }

    nav {
        padding: 0;
        align-items: flex-start;
    }

   

    button {
        display: flex;
    }

    li,
    ul {
        width: 100%;
    }

    ul.responsivo {
        height: fit-content;
    }
}


@media screen and (min-width: 700px) {

    #home {
        display: block;
        padding: 0;
    }

    #home h1 {
        font-size: 2.2em;
        margin-bottom: 1rem;
    }

    #texto_home p {
        font-size: 1.2em;
    }

    #home img {
        width: 100vw;
    }



    #quem_somos h1 {
        font-size: 2em;
    }



    #quem_somos div,
    #texto_home {
        margin: 1.4rem;
        width: 35rem;
    }
  

    #quem_somos p {
        font-size: 1.2em;
    }


    #quem_somos img {
        display: none;
    }

    #projetos {
        margin: 4rem;
    }

    #projetos h1 {
        font-size: 2.1em;
    }

    .card-inner p {
        font-size: 1.2em;
        margin-bottom: 1em;
        width: 20rem;
        height: 12rem;
    }



    .card-inner {
        height: 26rem;
    }

    .card-inner h2 {
        font-size: 2.3em;
    }

    .card-inner p {
        font-size: 1.5em;
    }

   

}


@media only screen and (min-width: 768px) {
    #home {
        display: flex;
        padding: 0;
    }

    #home h1 {
        font-size: 1.7em;
    }

    #home>div>img {
        width: 37vw;
        /* margin: 1.2rem; */

    }

    #quem_somos p {
        font-size: 1em;
    }

    #home p {
        font-size: 0.9em;
    }

    #quem_somos div {
        margin: 1.2rem;
    }

    /* #quem_somos div,
    #texto_home {
        margin: 1.4rem 0px 1.4rem 1.4rem;
    } */

    #quem_somos img {
        display: block;
    }

    .card {
        width: fit-content;
    }

    .cards {
        width: 18rem
    }
}

@media only screen and (min-width: 992px) {
    #texto_home {
        width: fit-content;
    }
    .cards {
        width: 20rem
    }

    #projetos h1 {
        font-size: 3em;
        text-align: center;
    }

    #home p {
        font-size: 1.1em;
    }

}


@media only screen and (min-width: 1200px) {
    #home h1 {
        font-size: 2.2em;
    }

    #projetos h1 {
        font-size: 2.2em;
    }

    #quem_somos p {
        font-size: 1.2em;
        width: 34rem;
    }

    .card-inner h2 {
        font-size: 2.1em;
    }

    .card {
        width: 23rem;
    }

    .cards {
        width: 17rem;
    }

    .card-inner p {
        font-size: 1.3em;
    }


}