@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}
nav {
    background-color: #161616;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    z-index: 1000;
}
nav h1 {
    color: white;
}
button {
    background-color: transparent;
    border: none;
    color: #FFF;
    font-size: 36px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}
nav,
ul {
    display: flex;
    flex-direction: row;
}
ul {
    list-style: none;
    padding: 0;
    transition: all .5s;
}
li {
    padding: 0 20px;
}

h1 {
    margin: 0;
    padding: 10px;
}


a:hover,
h1:hover,
button:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.2);
}
a {
    padding: 16px;
    text-decoration: none;
    color: white;
}
#home {
    display: flex;
    align-items: center;
    padding-left: 2em;
}

#o_que_fazemos {
    background-color: #001489;
    color: #fff;
    display: flex;
}

#o_que_fazemos img {
    max-width: 30%;
}

#o_que_fazemos h1 {
    margin-bottom: 1em;
}

#projetos {
    margin: 2em;
}

.folder-column {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    position: relative;
    margin-inline: 2rem;
    margin-block: 3rem;
    font-size: 0.7em;
    transition: all 0.2s;
}

.card-inner {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    text-align: center;
    padding: 1rem;
    overflow: hidden;
    justify-content: center;
    display: grid;

}

.circle {
    width: 90px;
    height: 90px;
    background: #4C5AAC;
    border-radius: 8px;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
    top: -25px;
    left: -25px;
}

.circle:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
}

@keyframes move-up6 {
    to {
        transform: translateX(-5px);
    }
}

@keyframes move-down1 {
    to {
        transform: translateX(5px);
    }
}

.card-inner h2 {
    font-size: 1.7em;
    top: 25%;
    position: relative;
}

.card-inner p {
    font-size: 1.1em;
    margin-top: 1rem;
}

#home a, #projetos a {
    text-decoration: none;
    color: #383838;
    font-size: 1.2em;
}


.cards {
    background-color: #F2F3F9;
}


.cards {
    width: 14rem;
    height: 29rem;
    margin-top: 5vh;
    border-radius: 6px;
    box-shadow: 0px 0px 6px #00000025;
    border: #fff 0.2px solid;
    overflow: hidden;
    margin: 1rem;
}

footer {
    background-color: #383838;
    color: #fff;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    bottom: 0;
    margin-left: 0;
}