#rows {
    background-image: url('../img/rows_img.webp');
}

#luzia {
    background-image: url('../img/luzia_img.webp');
}

#perplexity {
    background-image: url('../img/perplexy_img.webp');
}

#bingchat {
    background-image: url('../img/bing_img.webp');
}

#tomeapp {
    background-image: url('../img/tome.app_img.webp');
}

#chatpdf {
    background-image: url('../img/pdf_img.webp');
}

#supernormal {
    background-image: url('../img/supernormal_img.webp');
}

#bard {
    background-image: url('../img/bard_img.webp');
}

#copyia {
    background-image: url('../img/copyia_img.webp');
}

#mailr {
    background-image: url('../img/mailr_img.webp');
}

#chatgptsidebar {
    background-image: url('../img/sidebar_img.webp');
}

#formularizer {
    background-image: url('../img/formularizer_img.webp');
}

#pruvo {
    background-image: url('../img/pruvo_img.webp');
}

#magicschoolavaliações {
    background-image: url('../img/magicavaliacoes_img.webp');
}

#magicschoolplanodeaula {
    background-image: url('../img/maginplano_img.webp');
}

#magicschoolexplicações {
    background-image: url('../img/magicexplicacoes_img.webp');
}

#gamma {
    background-image: url('../img/gamma_img.webp');
}

#diffit {
    background-image: url('../img/difft_img.webp');
}

#xmind {
    background-image: url('../img/xmind_img.webp');
}

#notion {
    background-image: url('../img/notion_img.webp');
}

#elicit {
    background-image: url('../img/elicit_img.webp');
}

#magicslides {
    background-image: url('../img/magicslides_img.webp');
}

.bing {
    color: #000;
}

.tomeapp {
    color: rgb(177, 28, 164);
}

.chatpdf {
    color: rgb(59, 96, 216);
}

.supernormal {
    color: #9d1cb1;
}

.rows {
    color: rgb(224, 191, 3);
}

.luzia {
    color: rgb(59, 111, 29);
}

.perplexity {
    color: rgb(16, 121, 107);
}

.bard {
    color: rgb(95, 28, 177);
}

.copyia {
    color: rgb(4, 185, 185);
}

.mailr {
    color: rgb(177, 28, 117);
}

.chatgptsidebar {
    color: rgb(177, 28, 164);
}

.formularizer {
    color: rgb(29, 169, 48);
}

.pruvo {
    color: rgb(119, 91, 163);
}

.gamma {
    color: rgb(200, 58, 188);
}

.diffit {
    color: rgb(28, 177, 130);
}

.xmind {
    color: rgb(246, 86, 0);
}